<!--First section is for the navbar and top of page buttons-->
<!DOCTYPE html>
<html>
    <body>
    <br>
    <div class="row">
        <div class="col-3" align="center">
            <img src="https://cdn-products.eneba.com/resized-products/InlPQPt7WRDHBRnySANJHVQrS2whLdUdTX9JB7djmGw_350x200_3x-0.jpeg"
             width="140" height="140" alt="Cover"> 
        </div>

        <div class="col-6">
            <h4>Among Us</h4>
            <p>Join your crewmates in a multiplayer game of teamwork and betrayal!
            <br>Play online or over local wifi with 4-10 players as you attempt to hold your spaceship 
                together and return back to civilization. But beware...as there may be an alien impostor aboard!
            </p>
        </div>

        <div class="col-3">
            <h5>Game Details</h5>
            <p>Release Date: June 15, 2018
            <br>Genre: Sci-fi
            <br>Type: Multiplace, Online Co-Op, Indie
            <br>Developer: Innersloth
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-3" align="center">
            <button>Favorite</button>
            <br><br>
            <button>Add to List</button>
        </div>
        <div class="col-6">
            <form action="/action_page.php" method="get">
                <textarea comment="comment" cols="80" rows="3" charswidth="25">Leave a comment</textarea>
                <br>
                <input type = "submit" value ="Submit">
            </form>
            <div class="media mt-3">
                <div class="media-body">
                <h6 class="mt-0">John Diatte</h6>
                This is my favorite game of all time! I love all the different challenges and features and other such things I like. I enjoy playing with my friends and figuring things out and then winning but sometimes losing and whatnot.
                <div class="media mt-2">
                    <a class="pr-3" href="#"></a>
                    <div class="media-body">
                    <h6 class="mt-0">Farhaana Mujid</h6>
                    Yeah I guess this games ok but this other game is way better. It has those things you enjoy but then also this other stuff that other games don't have which makes it awesome.
                    <form action="/action_page.php" method="get">
                        <textarea comment="comment" cols="80" rows="1" charswidth="25">Reply to thread</textarea>
                        <input type = "submit" value ="Reply">
                    </form>
                    </div>
                </div>
                </div>
            </div>
            <div class="media mt-3">
                <div class="media-body">
                <h6 class="mt-0">Ben Xu</h6>
                This game is for noobs. These graphics are terrible and none of the rules even make sense. If you were totally cool at all you would not be playing this game.
                <form action="/action_page.php" method="get">
                    <textarea comment="comment" cols="80" rows="1" charswidth="25">Reply to thread</textarea>
                    <input type = "submit" value ="Reply">
                </form>   
            </div>
            </div>
        </div>
    </div>

    </body>
</html>
