<app-navbar></app-navbar>
<div class="row">
  <div class="col-3" align="center">
      <img src=""
       width="140" height="140" alt="Future Addition">
  </div>

  <div class="col-6">
      <h4>{{game.title}}</h4>
      <p>{{game.desc}}
      </p>
  </div>

  <div class="col-3">
      <h5>Game Details</h5>
      <p>Genre: {{game.genre}}
      <br>Type: {{game.type}}
      <br>Developer: {{game.publisher}}
      <br>Platform: {{game.platforms}}
      <br>Postive Rate: {{game.postiveRate}}
      <br>Negative Rate: {{game.negativeRate}}
      </p>
  </div>
</div>

<div class="row">
  <div class="col-3" align="center">
      <button>Interested</button>
      <br><br>
      <button>Favorite</button>
      <br><br>
      <button>Add to List</button>
  </div>
  <div class="col-9">
      <form action="/action_page.php" method="get">
          <textarea comment="comment" cols="60" rows="5" charswidth="25">Review</textarea>
          <br>
          <input type = "submit" value ="Submit">
      </form>
  </div>
</div>
