<!--First section is for the navbar and top of page buttons-->
<!DOCTYPE html>
<html>
    <body>
    <br>
    <div class="row">
        <div class="col-3" align="center">
            <img src="https://cdn-products.eneba.com/resized-products/InlPQPt7WRDHBRnySANJHVQrS2whLdUdTX9JB7djmGw_350x200_3x-0.jpeg"
             width="140" height="140" alt="Cover"> 
        </div>

        <div class="col-6">
            <h4>Among Us</h4>
            <p>Join your crewmates in a multiplayer game of teamwork and betrayal!
            <br>Play online or over local wifi with 4-10 players as you attempt to hold your spaceship 
                together and return back to civilization. But beware...as there may be an alien impostor aboard!
            </p>
        </div>

        <div class="col-3">
            <h5>Game Details</h5>
            <p>Release Date: June 15, 2018
            <br>Genre: Sci-fi
            <br>Type: Multiplace, Online Co-Op, Indie
            <br>Developer: Innersloth
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-3" align="center">
            <button>Interested</button>
            <br><br>
            <button>Favorite</button>
            <br><br>
            <button>Add to List</button>
        </div>
        <div class="col-9">
            <form action="/action_page.php" method="get">
                <textarea comment="comment" cols="60" rows="5" charswidth="25">Review</textarea>
                <br>
                <input type = "submit" value ="Submit">
            </form>
        </div>
    </div>

    </body>
</html>
