<app-navbar></app-navbar>

<br>

<h1>—The Team—</h1>

<div style="background-color: #80cbc4;">
<br>
<div class="container">
  <div class="row">
    <div class="col" align="center">
      <img src="assets/images/Farhaana.jpg" width=155 height="150" alt="Farhanna">
      <p class="name">Farhaana Mujid</p>
    </div>
    <div class="col" align="center">
      <img src="assets/images/John.jpg" width=155 height="150" alt="John">
      <p class="name">John Diatte</p>
    </div>
    <div class="col" align="center">
      <img src="assets/images/WeiJian.jpg" width=155 height="150" alt="WeiJian">
      <p class="name">Weijian Xu</p>
    </div>
    <div class="col" align="center">
      <img src="assets/images/Kelly.jpg" width=155 height="150" alt="Kelly">
      <p class="name">Kelly Chuang</p>
    </div>
    <div class="col" align="center">
      <img src="assets/images/Jing.jpg" width=155 height="150" alt="Jing">
      <p class="name">Jingyi Huang</p>
    </div>
  </div>
</div>
</div>
<br>

<h1>—Our Motivation—</h1>
<div style="background-color: #e0f2f1;">
  <br>
  <div class="container">
    <p class="paragraph"><b>As a gamer you’re unique,</b> we get that. Long gone are the days gamers came in just two varieties— “hardcore” or “casual”.
            Nowadays we have categories like <i>“popcorn gamer who watches twitch streams of turn-based strategy games for PC” </i>amongst hundreds
            of other oddly specific segmentations. The fact is, the state of today’s gaming environment has become
            so complex and diverse that the average individual within the community of people who play games can’t identify with the larger whole.
            So when it comes to deciding which games you may want to buy net, play next, make next, or even watch people play next, it no longer
            suffices to just scroll through lists of the top rated games as they may not appeal to the specific strain of gamer you are.
            For this reason, we created MyGamesList.
            <br><br>
            MyGamesList is not just your average source for video game information and reviews. We have the added twist that registered users can curate
            custom lists of video game titles on their created user profiles. You can add descriptive titles and comments to your lists which can be made
            either public or private. More importantly, you can peruse other users’ public lists to inspire your own lists and motivate your gaming decisions.
            In this way, you’re finding those individuals within your specific subcommunity and getting gaming suggestions actually suited to you through their lists.
            Lastly, don’t forget to tailor your own profile to allow those same like-minded users to be able to find you and your lists too!
  </div>
  <br>
  <br>
</div>
