<head>
  <meta charset = "UTF-8">
  <title>My Game List</title>

</head>

<body>
<header class="container">
  <div class="header">
    <h1>My Game List
      <button type="button" class="btn btn-secondary btn-sm">Profile</button>
      <button type="button" class="btn btn-secondary btn-sm">Join now</button>
      <button type="button" class="btn btn-secondary btn-sm">Login</button>
    </h1>
  </div>
</header>

<div class="navigation">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class= "navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/games']">Games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/userListing']">User Listing</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="hrefDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Games
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/myGames']">My List</a>
          <a class="dropdown-item" href="MyFollowedLists.html">My Followed Lists</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href= "About.html">About Us</a>
      </li>
      <li style="float:right">
        <form class ="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type = "Search" placeholder ="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit ">Search</button>
        </form>
      </li>
    </ul>
  </nav>
</div>
<app-gamedisplay></app-gamedisplay>
