<app-navbar></app-navbar>

<html>
    <head>
        <meta charset = "UTF-8">
        <title>Lists</title>

      </head>

      <body ng-app="app">

        <div class="head-tag">
        <header>
          All Lists
        </header>
        <h6>Explore other users' public lists</h6>
      </div>



<div class="alpha-container">
        <div class="index-tag">
          <p>
            Index by List Title:
          </p>
        </div>
  <div class="link-container">
    <ul>
    <!--  <td><a href="#">{{game}}</a></td> -->
    <li><a role="button" (click)="getListsAlphabeticallyA()" class="text-info"> a </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyB()" class="text-info"> b </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyC()" class="text-info"> c </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyD()" class="text-info"> d </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyE()" class="text-info"> e </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyF()" class="text-info"> f </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyG()" class="text-info"> g </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyH()" class="text-info"> h </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyI()" class="text-info"> i </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyJ()" class="text-info"> j </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyK()" class="text-info"> k </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyL()" class="text-info"> l </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyM()" class="text-info"> m </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyN()" class="text-info"> n </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyO()" class="text-info"> o </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyP()" class="text-info"> p </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyQ()" class="text-info"> q </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyR()" class="text-info"> r </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyS()" class="text-info"> s </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyT()" class="text-info"> t </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyU()" class="text-info"> u </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyV()" class="text-info"> v </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyW()" class="text-info"> w </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyX()" class="text-info"> x </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyY()" class="text-info"> y </a></li>
    <li><a role="button" (click)="getListsAlphabeticallyZ()" class="text-info"> z </a></li>
    <li><a role="button" (click)="getAllListsAlphabetically()" class="text-info"> ..all </a></li>
    </ul>
</div>
</div>

<div class="table-container">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">User</th>
      <th scope="col">Title</th>
      <th scope="col">Comments</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let list of gameLists; index as i">
       <!-- <app-list-detail [list]="list"></app-list-detail> -->
      <td>
        {{i + 1}}
      </td>
      <td>
        <!-- add users -->
      </td>
      <div class="cell-container">
      <td>
       <!-- <a (click)="showListDetail(list)" class="text-info">{{ list.payload.doc.data().listTitle }}</a> -->
       <a (click)="refresh(i)" class="active" class="text-info">{{ list.payload.doc.data().listTitle }}</a>
      </td>
    </div>
      <td>{{ list.payload.doc.data().listComments }}</td>
      <td><a class="active" (click)="Subscribe(list.payload.doc.data().listTitle,list.payload.doc.data().listComments)">Subscribe</a></td>
    </tr>
  </tbody>
</table>
</div>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link text-info" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          +/- List
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body justify-content-center ">

            <thead class="thead-light">
            <tr>
              <th >#</th>
              <th >Image</th>
              <th >Title</th>
              <th >Description</th>
              <th >Genre</th>
              <th >Platforms</th>
              <th >Rating</th>
            </tr>
            </thead>
            <tbody *ngIf="currentlist">
            <tr *ngFor="let game of gameLists[currentIndex].payload.doc.data().gameList; index as i">
              <td>{{i+1}}</td>
              <td><img [src]=getImgUrl(i+1) alt="" width="150" height="150"/></td>
              <td><a href="#">{{game}}</a></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </tbody>
      </div>
    </div>
  </div>
</div>
