<app-navbar></app-navbar>
<div class="alphabetical search">
  <ul id='menu' style="padding: 20px;">
      <b>Alphabetical Indexs</b>
      <li *ngFor="let letter of alphaListing">
        <a [routerLink]="['/games']" [queryParams]="{index:letter}">{{letter}}</a>
      </li>
  </ul>

</div>
<div class="search result" style="padding: 20px;">
  <ul>
    <li *ngFor="let g of serviceGames | async;">
      <a [routerLink]="['/gameDisplay']" [queryParams]="{game:g}" >{{g}}</a>
    </li>
  </ul>
</div>
