<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Lists</title>

      </head>

      <body ng-app="app">

        <div class="head-tag">
        <p>
          LISTS
        </p>
      </div>

<div class="alpha-container">
        <div class="index-tag">
          <p>
            Alphabetical Index:
          </p>
        </div>

  <div class="link-container">
    <ul>
        <li><a href= "#">a</a></li>
        <li><a href= "#">b</a></li>
        <li><a href= "#">c</a></li>
        <li><a href= "#">d</a></li>
        <li><a href= "#">e</a></li>
        <li><a href= "#">f</a></li>
        <li><a href= "#">g</a></li>
        <li><a href= "#">h</a></li>
        <li><a href= "#">i</a></li>
        <li><a href= "#">j</a></li>
        <li><a href= "#">k</a></li>
        <li><a href= "#">l</a></li>
        <li><a href= "#">m</a></li>
        <li><a href= "#">n</a></li>
        <li><a href= "#">o</a></li>
        <li><a href= "#">p</a></li>
        <li><a href= "#">q</a></li>
        <li><a href= "#">r</a></li>
        <li><a href= "#">s</a></li>
        <li><a href= "#">t</a></li>
        <li><a href= "#">u</a></li>
        <li><a href= "#">v</a></li>
        <li><a href= "#">w</a></li>
        <li><a href= "#">x</a></li>
        <li><a href= "#">y</a></li>
        <li><a href= "#">z</a></li>
    </ul>
</div>
</div>

<table>
  <thead>
    <th>User</th>
    <th>Title</th>
    <th>Description</th>
  </thead>
  <tbody>
      <tr *ngFor="let list of l">
        <td>
          <a href= "#">{{list.user}}</a>

        </td>
        <td>
          <a href= "#">{{list.title}}</a>

        </td>
        <td>
          {{list.description}}
        </td>
      </tr>
  </tbody>


</table>


<footer>

  <div class="wrapper">
  <div class="pages-tag">
    <p>Pages: </p>
  </div>
    <div class="pages-container">
    <ul>
        <li><a href= "#">1</a></li>
    </ul>
</div>
</div>
</footer>


      </body>
  </html>
