<!-- Compiled and minified Materialize CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script><!-- Google Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet" />

<!-- navbar component copy pasted bc of Materialize CSS stying issue -->
<body>
<app-navbar></app-navbar>
<!-- navbar component copy pasted bc of Materialize CSS stying issue -->

<div class="row">
  <div class="col-md-3 col-sm-3">
    <ul class="list-group list-group-flush">
      <h1>My Lists</h1>
      <p>Create your own custom video game lists!</p>

      <tr *ngFor="let list of gameLists; index as i">
        <td>
          <!--
                    <a [routerLink]="['/myGames', i]">{{ list.payload.doc.data().listTitle }}</a>
          -->
          <a (click)="refresh(i)" class="text-info">{{ list.payload.doc.data().listTitle }}</a>

        </td>
        <td
          [hidden]="list.payload.doc.data().completed"
          (click)="markPrivate(list)"
        >
          <i class="material-icons">visibility</i>
          <!-- <i class="material-icons">check</i> -->
        </td>
        <td
          [hidden]="list.payload.doc.data().completed"
          (click)="deleteList(list)"
        >
          <i class="material-icons">delete_forever</i>
        </td>
      </tr>

      <!--  <li class="list-group-item list-group-item-action list-group-item-secondary"><a href="#" title="View all games under Currently Playing">Currently Playing</a> (5) </li>
        <li class="list-group-item"><a href="#" title="View completed games">Completed</a> (1) </li>
        <li class="list-group-item"><a href="#" title="View on Hold games">On Hold</a> (0) </li>
        <li class="list-group-item"><a href="#" title="View dropped games">Dropped</a> (0) </li>
        <li class="list-group-item"><a href="#" title="View all games plan to play">Plan to Play</a> (0) </li> -->

      <button (click)="action()" class="btn btn-outline-primary">New List
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
      </button>
    </ul>
  </div>

  <div class="col-md-8 col-sm-9 border-right">
    <br>
    <h2 *ngIf="currentlist">{{gameLists[currentIndex].payload.doc.data().listTitle}}</h2>
    <h6 *ngIf="currentlist">{{gameLists[currentIndex].payload.doc.data().listComments}}</h6>
    <br>
    <table class="table table-hover">
      <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Genre</th>
        <th scope="col">Platforms</th>
        <th scope="col">Rating</th>
        <th scope="col">Edit</th>
      </tr>
      </thead>

      <tbody *ngIf="currentlist">
      <tr *ngFor="let game of gameLists[currentIndex].payload.doc.data().gameList; index as i">
        <td scope="row">{{i+1}}</td>
        <td scope="row"><img [src]=getImgUrl(i+1) alt="" width="150" height="150"/></td>
        <td><a href="#" class="text-info">{{game}}</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
       <!-- <td><a href="#">delete</a></td> -->
       <td><button style="float: right">Delete</button>
      </tr>
      </tbody>
    </table>

  </div>


</div>

<!--<app-addedlists-list></app-addedlists-list> -->
<!--<app-list-detail></app-list-detail> -->
<!--<app-lists></app-lists>-->

<router-outlet></router-outlet>
