
.container {
  width: 95%;
  margin: 0 auto;
  padding: 5px;
}

.navigation {
  width: 90%;
  margin: 0 auto;
}

.header button {
  margin-left: 10px;
  float: right;
}

.row {
  margin-left: 80px;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav li {
  padding: 3px;
  display: inline-block;
}

nav a {
  text-decoration: none;
}

h3 {
  padding:10px;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

ul {
  margin: 0 auto;
  margin-top: 20px;
  list-style: none;
}

.carousel-inner {
  height: 250px;
}

.carousel-item img {
  width: 100%;
  height: 220px;
}
